.header
	box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1)
	&-top-line
		display: grid
		grid-template-columns: 60% 40%
		align-items: center
		max-width: 1140px
		margin: 0 auto
		height: 50px
		&__wrap
			background-color: $colors__primary
		&__address
			display: flex
			justify-self: start
			align-items: center
		&__phone
			display: flex
			justify-self: end
			align-items: center
		&__img
			padding-right: 10px
	&__grid
		max-width: 1140px
		margin: 0 auto
		width: 100%
		display: grid
		grid-template-columns: 10% 70% 20%
		grid-template-rows: 104px
		align-items: center
		padding: 0
	&__logo
	&__menu
		&-list
			display: flex
			flex-flow: row wrap
			font-size: 1.4rem
			font-weight: $font-weight__semi-bold
		&-item
			padding-left: 22px
		&-link
			cursor: pointer
			transition: all 0.3s
			&:hover
				color: $colors__green
		&.active
			// background-color: $colors__light-gray
			color: $colors__primary
			width: 200px
			right: 0
			visibility: visible
