.form
	&__input
		border: 1px solid $colors--gray
		background-color: transparent
		border-radius: 20px
		width: 100%
		padding: 20px
		height: 60px
		color: #fff
		font-size: 1.8rem
		&:focus
			outline: 1px solid $colors--primary
	&__textarea
		height: 120px
		resize: none
