html
	@include fluidFontSize($font-size--small, $font-size--base)
body
	font-family: $font-family__primary
	font-weight: $font-weight--regular
	color: $colors--text
	overflow-x: hidden
	padding: 0px 0 0 0
.container
	max-width: 1140px
	padding: 15px
	margin: 0 auto
	width: 100%
.yellow-line
	background: $colors--primary
	height: 50px
	width: 100%
	position: absolute
	z-index: 12
	top: 0
	left: 0
	@include _768
		display: none
.confedencial
	font-size: 1rem
	line-height: 15px
	text-align: center
	color: #737373
	@include _480
		font-size: 1.4rem

.slider__arrow
	width: 50px
	height: 50px
	opacity: 1
	background: #333333
.slider__arrow--prev
	left: -2.5em
.slider__arrow--next
	right: -2.5em
.splide__arrow svg
	width: 25px
	height: auto
	fill: $colors--primary
