// Typography
//////////////////////////////////////////////////////
$font-size--base: 10px
$font-size__coefficient--large: 2.4 //rem
$font-size__coefficient--normal: 1.4 //rem
$font-size__coefficient--small: 0.9 //rem
$font-size__coefficient--xsmall: 0.8 //rem

$font-size--large: round($font-size--base * $font-size__coefficient--large) // 24px
$font-size--normal: round($font-size--base * $font-size__coefficient--normal) // 14px
$font-size--small: round($font-size--base * $font-size__coefficient--small) // 9px
$font-size--xsmall: round($font-size--base * $font-size__coefficient--xsmall) // 8px

$line-height: 1.7
$line-height--base: 1.428571429
$normal-letter-spacing: normal

$font-family__primary: 'Montserrat', sans-serif

$font-weight--light: 300
$font-weight--regular: 400
$font-weight--semi-bold: 600
$font-weight--bold: 700
$font-weight--black: 900

// Base Typographic
//////////////////////////////////////////////////////
h1
  font-size: 3.5rem
  font-weight: $font-weight--black
  line-height: 43px
.text
  font-size: 1.8rem
  line-height: 24px
  color: $colors--text
  font-weight: $font-weight--regular
  &--small
    font-size: 1.4rem
    line-height: $line-height
    font-weight: $font-weight--regular
  &--bold
    font-size: 1.6rem
    line-height: $line-height
    font-weight: $font-weight--bold
  &--yellow
    font-weight: $font-weight--bold
    color: $colors--primary
.title
  font-weight: $font-weight--black
  font-size: 2.8rem
  line-height: 107%
  text-align: center
  text-transform: uppercase
  color: $colors--text
  padding: 50px 0
