// Project variables
//////////////////////////////////////////////////////
//////////////////////////////////////////////////////

// Colors

$colors__base: #000000
$colors__level1: #181823
$colors__light-gray: #DEECF9
$colors__dark-gray: #5B6876
$colors__text: #ffffff
$colors__primary: #5221E6
$colors__green: #3CC74E
$colors__blue: #609BFF
$colors__pink: #E95D90
$colors__peach: #FFF3E4
$colors__violet: #FBE4FF

// Breackpoints and containers
//////////////////////////////////////////////////////

// Minimum Supported Width
$breakpoints__min: 320px

// Extra small screen / XS / phone
$breakpoints__xs: 359px

// Small screen / SM / tablet
$breakpoints__sm: 768px

// Medium screen / MD desktop / нетбуки типо чтоле
$breakpoints__md: 1025px

// Large screen / LG desktop / небольшие экраны - ноуты
$breakpoints__lg: 1240px

$breakpoints__xs_max: ($breakpoints__sm - 1)
$breakpoints__sm_max: ($breakpoints__md - 1)
$breakpoints__md_max: ($breakpoints__lg - 1)
